Sphinx
sphinx_rtd_theme
myst_nb
sphinx-copybutton
sphinx-lesson
https://github.com/aaltoscicomp/sphinx-aaltoscicomp-branding/archive/master.zip
sphinx_rtd_theme_ext_color_contrast
sphinxext-opengraph

# for web-apis execution
jsonlines
bs4