Sphinx
sphinx_rtd_theme
sphinx_rtd_theme_ext_color_contrast
myst_nb
sphinx-lesson
https://github.com/aaltoscicomp/sphinx-aaltoscicomp-branding/archive/master.zip
sphinxext-opengraph
sphinx-thebe

# for web-apis execution
jsonlines
bs4
